html, body {
  height: 100%;
}
body {
  padding: 50px 0 0 0;
}

.navbar {
  display: block;
  text-align: center;
}

.navbar-brand {
  display: inline-block;
}

.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

.container {
  max-width: 100%;
}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
  .navmenu {
    margin-top: 50px;
  }
  
  .navmenu, .navbar-offcanvas {
    width: 200px;
  }

  .site-icon {
    max-height: 35px;
  }
  .navmenu .site-description {
    font-size: 12px;
    font-size: 1.5rem;
  }
  .navmenu li {
    font-size: 1em;
  }
  .navmenu .site-title {
    font-size: 35px;
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {    
  
  body {
      padding: 0 0 0 200px;
  }    

  .navmenu {
    padding-top: 0;
    margin-top: 0px;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }  

}

@media (min-width: 1367px) {
  
  /*larger side menu and fonts*/
  body {
      padding: 0 0 0 300px;
  }   

  .navmenu, .navbar-offcanvas {
      width: 300px;
  } 
    
  .site-icon {
    max-height: 150px;
  }
  .navmenu .site-description {
    font-size: 15px;
    font-size: 1.8rem;
  }
  .navmenu li {
    /*font-size: 1.4em;*/
  }
  .navmenu .site-title {
    font-size: 48px;
    font-size: 4.8rem;
  }
}


#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
  margin-left: 10px;
}

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
  text-align: center;
}

img {
    max-width: 100%;
}

/* gallery */
/*.gallery .row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
  
}*/

.gallery .img {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}
/* end gallery */

.page-header { 
    margin: 10px 0px;
}

.blog-post {
     padding-left: 5px;   
}

/* topbar */
.navbar .site-title {
	font-size: 28px;
  font-size: 2.8rem;
  padding: 10px;
}
/* end topbar*/

/* sidebar */
.navmenu .site-title {
  padding: 10px;
}
/* sidebar */
